.thumb-container {
    /*border: 1px solid #ccc;*/
}

.thumb-header {
    
    padding: 10px; 
     
}


 .nav-tabs .nav-link {
        border-radius: 0px;
    }
    
    .nav-tabs .nav-item.open .nav-link,
    .nav-tabs .nav-item.open .nav-link:focus,
    .nav-tabs .nav-item.open .nav-link:hover,
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-link.active:focus,
    .nav-tabs .nav-link.active:hover .nav-item {
        background-color: #fff;
        color: aliceblue;
        border: 0px;
    }
    
    .nav-tabs .nav-link {
        background-color: #fff;
        color: #3A4149;
    }
    
    .nav-tabs {
        border-color: #fff;
    }
    
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-link.active:focus,
    .nav-link.active:hover {
        border: 0px;
        background-color: #5CB85C;
    }
    
    @media all and (max-width: 780px) {
        .nav-link-btn-text {
            display: none
        }
    }