
<script src="js/side-nav.js" type="text/javascript"></script>
<style>
    .nav-main {
        width: 100%;
        position: fixed;
        border-bottom: 1px solid #ccc;
        background-color: white;
        z-index: 1;
    }

    .c-nav-link {
        color: #f8f8f8;
    }

    navbar-light .navbar-nav .nav-link {
        color: #f8f8f8;
    }
</style>

<div class="background-color-dark" style="position: fixed;width: 100%; z-index: 1">
    <div class="container">
        <navigation-nav roles="profilesController.access" bttsetting="profilesController.navbtns"></navigation-nav>
    </div>
</div>

<div id="main">

    <br>

    <div id="page-content-wrapper">
<br>

<my-q ng-if="profilesController.access.doctor"></my-q>
        <div ng-if="profilesController.access.reception || profilesController.access.admin">

            <search ng-if="!userObj.clientSet"></search>

            <div class="container">

                <div ng-if="userObj.clientSet">

                    <div class="add-padding">

                        <user-profile></user-profile>

                    </div>

                </div>

            </div>

        </div>

    </div>

</div>

<waiting-list listdt="queue"></waiting-list>