<div id="test">

    <div class="container">
        <br>
        <h4>Waiting list - </h4> <button class="btn btn-sm btn-primary" ng-click="waitinglistController.reloadObj()"> <i class="fa fa-refresh" aria-hidden="true"></i></button>
        <input type="button" ng-click="waitinglistController.reloadObj()" value="click me">
    </div>

    <br>

    <div class="list-group">
        <div class="container">
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="list in queue.obj">
                    <b>{{$index + 1}}</b>. {{list.FIRSTNAME}} {{list.LASTNAME}}
                </li>

            </ul>
        </div>

    </div>

</div>

<script>
    $(document).ready(
        function () {
            $('#test').BootSideMenu({
                side: "right",
                pushBody: true,
                width: '360px'
            });
        }
    )
</script>