#Turn on the Rewrite Engine
RewriteEngine On
RewriteRule ^home$ index.php
RewriteRule ^viewBookings$ bookings.php
RewriteRule ^makebooking$ makebooking.php
RewriteRule ^bookings$ bookings.php
RewriteRule ^test$ demo.html
