<div class="container">
    <br>
    <div class="row">
        <form class="form-horizontal">
            <fieldset>


                <div class="row add-margin-sm">
                    <div class="col-md-3">
                        
                        <label class="control-label" for="requestName">Line 1:</label>
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-6">
                        <input id="requestName" name="requestName" placeholder="" ng-model="userDataObj.address.txt_line1" class="form-control input-md col-md-4" required="" type="text"> </div>
                    </div>
                </div>

                 <div class="row add-margin-sm">
                    <div class="col-md-3">
                        <label class="control-label" for="requestName">Line 2:</label>
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-6">
                        <input id="requestName" name="requestName" placeholder="" ng-model="userDataObj.address.txt_line2" class="form-control input-md col-md-4" required="" type="text"> </div>
                    </div>
                </div>

                <div class="row add-margin-sm">
                    <div class="col-md-3">
                        <label class="control-label" for="requestName">Line 3:</label>
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-6">
                        <input id="requestName" name="requestName" placeholder="" ng-model="userDataObj.address.txt_line3" class="form-control input-md col-md-4" required="" type="text"> </div>
                    </div>
                </div>

                             

            </fieldset>
             <save></save> 
        </form>

    </div>
</div>


