<br>
<div class="container">
    <div ng-if="!userObj.clientSet">
        
    
    <div class="row" >
        <div class="col-12">
            <div class="search-header">
                <h3>Patients in your queue:</h3>
                
                <hr class="colorgraph"><br>
            </div>
        </div>
    </div>
        
    <div class="row" ng-if="myQController.spinner">
        <div class="col-12">
            <img src="img/Searching.gif" alt="searching gif"><br>
            <h4>...please wait</h4>
        </div>
    </div>
        </div>
    <div class="row">
        <div class="col-12">
            <div ng-if="myQController.results.length == 0">
                <h5>Your queue is empty...</h5>
            </div>
            <div ng-if="!userObj.clientSet">


                <table class="table" ng-if="!myQController.spinner && myQController.results.length > 0" >
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Card #</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody class="table-hover">
                        <tr ng-repeat="result in myQController.results">
                            <td class="row-data-td">{{1 + $index}}</td>
                            <td>{{result.PATIENTNAME + " " + result.PATIENTSURNAME}}</td>
                            <td>{{result.PATIENTCARDNUMBER}}</td>
                            <td>
                                <input type="button" value="open" class="btn btn-md btn-c-success" ng-click="myQController.setClient(result.PATIENTID)"
                                       name="{{'btnOpen_' + $index}}">

                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="userObj.clientSet">

                <div class="add-padding">

                    <user-profile></user-profile>

                </div>

            </div>

        </div>
    </div>

</div>