<div class="">
    <h3>Nkosinathi Khumalo</h3>
    <hr class="colorgraph">

    <div class="pull-right">
        <input type="button" class="btn btn-default" value="search for other patient" ng-click="userProfileController.return_to_search()">
    </div>

    <br><br><br>
    <div class="row">
        <div class="col-md-3">
            <pro-pic imgtwo="img/patients/rsz_1rsz_blank-profile-picture-973460_960_720.png"></pro-pic>
            <br>
        </div>
        <div class="col-md-9 ">
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <button class="nav-link" ng-class="{'active': userProfileController.activeTab == 1}" ng-click="userProfileController.setTab(1)">
                
                <img src="img/icons/medical/report-1.png" height="40">
                <span class="nav-link-btn-text">General Information<span>

                </button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" ng-class="{'active': userProfileController.activeTab == 2}" ng-click="userProfileController.setTab(2)">
                <img src="img/icons/address/placeholder-26.png" height="40">
                <span class="nav-link-btn-text">Address<span></button>
                </li>
                <li class="nav-item">
                    <button class="nav-link" ng-class="{'active': userProfileController.activeTab == 3}" ng-click="userProfileController.setTab(3)">
                <img src="img/icons/medical/folder.png" height="40">
                <span class="nav-link-btn-text">Past Medical History<span></button>
                </li>

            </ul>


            <hr>
            <general-tab ng-if="userProfileController.activeTab == 1"></general-tab>
            <address-tab ng-if="userProfileController.activeTab == 2"></address-tab>
            <past-medical-history-tab ng-if="userProfileController.activeTab == 3"></past-medical-history-tab>
        </div>
    </div>


    <br>

    <!-- 
        <div class="row">
                <div class="col-md-12">
                    <div class="thumb-container">
                        <div class="thumb-header">
                            <div id="medicalHistory">
                                <img src="img/icons/address/pin-33.png" height="50"> <b> Medical Notes:</b>
                            </div>
                        </div>
                        <div class="thumb-body">
                            <div class="row add-border-bottom">

                                <div class="col-md-12 ">
                                    <blockquote>
                                        <p></p>
                                        <footer>Comments will be displayed below:</footer>

                                        <form name="addGoals">
                                            <br>
                                            <textarea class="form-control remove-radious" ng-model="ui_coach.txtCoachConversations"></textarea>
                                            <br>
                                            <input type="button" class="btn btn-md btn-warning remove-radious pull-right" value="Add" ng-click="addToList('CoachConversations')">
                                            <hr>
                                            <br>
                                        </form>
                                        <comments></comments>
                                    </blockquote>
                                </div>

                            </div>

                        </div>
                        <div class="thumb-footer">

                        </div>
                    </div>
                </div>
            </div>
    -->
    </div>

   