<div class="container">

    <div class="row">
        <div class="col-md-2">
            <img ng-if="false" src="img/icons/userProfilePicturesbusinessman.png" height="150">
            <hr>
            <proPic proPic="img/icons/userProfilePicturesbusinessman.png"></proPic>
            <br>
            <p>
                <h4>Nkosinathi Khumalo</h4>
            </p>
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">

                    <div class="thumb-container">
                        <div class="thumb-header">
                            <div id="generalInfo">
                                <img src="img/icons/medical/stethoscope.png" height="50"><b> General Information:</b>
                            </div>
                        </div>
                        <div class="thumb-body">

                            <div class="row add-border-bottom">
                                <div class="col-md-6">
                                    <label>Name:</label>
                                </div>
                                <div class="col-md-6">
                                    {{userDataObj.general.txt_name}}
                                </div>

                            </div>

                            <div class="row add-border-bottom">
                                <div class="col-md-6">
                                    <label>Surname:</label>
                                </div>
                                <div class="col-md-6">
                                    {{userDataObj.general.txt_surname}}
                                </div>
                            </div>

                            <div class="row add-border-bottom">
                                <div class="col-md-6">
                                    <label>Date of birth:</label>
                                </div>
                                <div class="col-md-6">
                                    {{userDataObj.general.txt_dateofbirth}}
                                </div>
                            </div>

                        </div>
                        <div class="thumb-footer">

                        </div>
                    </div>

                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-12">
                    <div class="thumb-container">
                        <div class="thumb-header">
                            <div id="medicalHistory">
                                <img src="img/icons/address/pin-33.png" height="50"> <b> Address:</b>
                            </div>
                        </div>
                        <div class="thumb-body">
                            <div class="row add-border-bottom">
                                <div class="col-md-6">
                                    <label>Line 1:</label>
                                </div>
                                <div class="col-md-6">
                                    {{userDataObj.address.txt_line1}}
                                </div>

                            </div>
                            <div class="row add-border-bottom">
                                <div class="col-md-6">
                                    <label>Line 2:</label>
                                </div>
                                <div class="col-md-6">
                                    {{userDataObj.address.txt_line2}}
                                </div>

                            </div>
                            <div class="row add-border-bottom">
                                <div class="col-md-6">
                                    <label>Line 3:</label>
                                </div>
                                <div class="col-md-6">
                                    {{userDataObj.address.txt_line3}}
                                </div>

                            </div>
                        </div>
                        <div class="thumb-footer">

                        </div>
                    </div>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class="col-md-12">
                    <div class="thumb-container">
                        <div class="thumb-header">
                            <div id="medicalHistory">
                                <img src="img/icons/medical/report.png" height="50"><b>Past Medical History:</b>
                            </div>
                        </div>
                        <div class="thumb-body">

                            <div class="row add-border-bottom">
                                <div class="col-md-6">
                                    <div class="row">

                                        <div class="col-md-6">
                                            <label>Previous Physician’s name:</label>
                                        </div>
                                        <div class="col-md-6">
                                            {{userDataObj.history.txt_previusPhycName}}
                                        </div>
                                    </div>

                                    <div class="row add-border-bottom">
                                        <div class="col-md-6">
                                            <label>Have you ever been hospitalized?:</label>
                                        </div>
                                        <div class="col-md-6">
                                            {{userDataObj.history.txt_hospitalizedBefore}}
                                        </div>
                                    </div>

                                    <div class="row add-border-bottom">
                                        <div class="col-md-6">
                                            <label>Have you ever been tested for hepatitis A, B or C?:</label>
                                        </div>
                                        <div class="col-md-6">
                                            {{userDataObj.history.txt_testedForHapititsB}}
                                        </div>
                                    </div>

                                    <div class="row add-border-bottom">
                                        <div class="col-md-6">
                                            <label>Have you been vaccinated for hepatitis B?:</label>
                                        </div>
                                        <div class="col-md-6">
                                            {{userDataObj.history.txt_beenVaxinated}}
                                        </div>
                                    </div>

                                    <div class="row add-border-bottom">
                                        <div class="col-md-6">
                                            <label>Have you been vaccinated for hepatitis A?:</label>
                                        </div>
                                        <div class="col-md-6">

                                        </div>
                                    </div>

                                    <div class="row add-border-bottom">
                                        <div class="col-md-6">
                                            <label>Last Tuberculosis (TB) Screening</label>
                                        </div>
                                        <div class="col-md-6">

                                        </div>
                                    </div>

                                    <div class="row add-border-bottom">
                                        <div class="col-md-6">
                                            <label>If positive TB screen, date of last chest x-ray</label>
                                        </div>
                                        <div class="col-md-6">

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row add-border-bottom">

                                        <div class="col-md-6">
                                            <label>Date of last exam:</label>
                                        </div>
                                        <div class="col-md-6">

                                        </div>
                                    </div>

                                    <div class="row add-border-bottom">
                                        <div class="col-md-6">
                                            <label>If yes, what for?:</label>
                                        </div>
                                        <div class="col-md-6">

                                        </div>
                                    </div>

                                    <div class="row add-border-bottom">
                                        <div class="col-md-6">
                                            <label>Which hepatitis virus?:</label>
                                        </div>
                                        <div class="col-md-6">

                                        </div>
                                    </div>

                                    <div class="row add-border-bottom">
                                        <div class="col-md-6">
                                            <label>If yes, date vaccine series completed?:</label>
                                        </div>
                                        <div class="col-md-6">

                                        </div>
                                    </div>

                                    <div class="row add-border-bottom">
                                        <div class="col-md-6">
                                            <label>If yes, date vaccine series completed?:</label>
                                        </div>
                                        <div class="col-md-6">

                                        </div>
                                    </div>

                                    <div class="row add-border-bottom">
                                        <div class="col-md-6">
                                            <label>Result of TB screening?:</label>
                                        </div>
                                        <div class="col-md-6">

                                        </div>
                                    </div>

                                    <div class="row add-border-bottom">
                                        <div class="col-md-6">
                                            <label>Result of chest x-ray</label>
                                        </div>
                                        <div class="col-md-6">

                                        </div>
                                    </div>
                                </div>
                            </div>



                        </div>
                        <div class="thumb-footer">

                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="thumb-container">
                        <div class="thumb-header">
                            <div id="medicalHistory">
                                <img src="img/icons/address/pin-33.png" height="50"> <b> Medical Notes:</b>
                            </div>
                        </div>
                        <div class="thumb-body">
                            <div class="row add-border-bottom">

                                <div class="col-md-12 ">
                                    <blockquote>
                                        <p></p>
                                        <footer>Comments will be displayed below:</footer>
                                   
                                        <form name="addGoals">
                                            <br>
                                            <textarea class="form-control remove-radious" ng-model="ui_coach.txtCoachConversations"></textarea>
                                            <br>
                                            <input type="button" class="btn btn-md btn-warning remove-radious pull-right" value="Add" ng-click="addToList('CoachConversations')">
                                            <hr>
                                            <br>
                                        </form>
                                        <comments></comments>
                                    </blockquote>
                                </div>

                            </div>

                        </div>
                        <div class="thumb-footer">

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--
    <div class="col-md-6">
        <div class="thumb-container">
            <div class="thumb-header">
                <div class="alert alert-success">
                    Address:
                </div>
            </div>
            <div class="thumb-body">
                <div class="row add-border-bottom">
                    <div class="col-md-6">
                        <label>Line 1:</label>
                    </div>
                    <div class="col-md-6">
                         {{userDataObj.address.txt_line1}}
                    </div>

                </div>
                <div class="row add-border-bottom">
                    <div class="col-md-6">
                        <label>Line 2:</label>
                    </div>
                    <div class="col-md-6">
{{userDataObj.address.txt_line2}}
                    </div>

                </div>
                <div class="row add-border-bottom">
                    <div class="col-md-6">
                        <label>Line 3:</label>
                    </div>
                    <div class="col-md-6">
{{userDataObj.address.txt_line3}}
                    </div>

                </div>
            </div>
            <div class="thumb-footer">

            </div>
        </div>  
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="thumb-container">
            <div class="thumb-header">
                <div class="alert alert-success">
                    Past Medical History:
                </div>
            </div>
            <div class="thumb-body">

                <div class="row add-border-bottom">
                    <div class="col-md-6">
                        <div class="row">

                            <div class="col-md-6">
                                <label>Previous Physician’s name:</label>
                            </div>
                            <div class="col-md-6">
                                  {{userDataObj.history.txt_previusPhycName}}
                            </div>
                        </div>

                        <div class="row add-border-bottom">
                            <div class="col-md-6">
                                <label>Have you ever been hospitalized?:</label>
                            </div>
                            <div class="col-md-6">
{{userDataObj.history.txt_hospitalizedBefore}}
                            </div>
                        </div>

                        <div class="row add-border-bottom">
                            <div class="col-md-6">
                                <label>Have you ever been tested for hepatitis A, B or C?:</label>
                            </div>
                            <div class="col-md-6">
{{userDataObj.history.txt_testedForHapititsB}}
                            </div>
                        </div>

                        <div class="row add-border-bottom">
                            <div class="col-md-6">
                                <label>Have you been vaccinated for hepatitis B?:</label>
                            </div>
                            <div class="col-md-6">
{{userDataObj.history.txt_beenVaxinated}}
                            </div>
                        </div>

                        <div class="row add-border-bottom">
                            <div class="col-md-6">
                                <label>Have you been vaccinated for hepatitis A?:</label>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>

                        <div class="row add-border-bottom">
                            <div class="col-md-6">
                                <label>Last Tuberculosis (TB) Screening</label>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>

                        <div class="row add-border-bottom">
                            <div class="col-md-6">
                                <label>If positive TB screen, date of last chest x-ray</label>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row add-border-bottom">

                            <div class="col-md-6">
                                <label>Date of last exam:</label>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>

                        <div class="row add-border-bottom">
                            <div class="col-md-6">
                                <label>If yes, what for?:</label>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>

                        <div class="row add-border-bottom">
                            <div class="col-md-6">
                                <label>Which hepatitis virus?:</label>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>

                        <div class="row add-border-bottom">
                            <div class="col-md-6">
                                <label>If yes, date vaccine series completed?:</label>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>

                        <div class="row add-border-bottom">
                            <div class="col-md-6">
                                <label>If yes, date vaccine series completed?:</label>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>

                        <div class="row add-border-bottom">
                            <div class="col-md-6">
                                <label>Result of TB screening?:</label>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>

                        <div class="row add-border-bottom">
                            <div class="col-md-6">
                                <label>Result of chest x-ray</label>
                            </div>
                            <div class="col-md-6">

                            </div>
                        </div>
                    </div>
                </div>



            </div>
            <div class="thumb-footer">

            </div>
        </div>  
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="thumb-container">
            <div class="thumb-header">
                <div class="alert alert-success">
                    Passed Visits:
                </div>
            </div>
            <div class="thumb-body">
                <table class="table">
                    <thead>
                    <th>Date:</th>
                    <th>Doctor:</th>
                    <th>Type:</th>
                    <th>Price:</th>
                    </thead>

                    <tr ng-repeat="visit in userObj">
                        <td>{{visit.DATE}}</td>
                        <td>{{visit.DOCTOR}}</td>
                        <td>{{visit.TYPE}}</td>
                        <td>{{visit.PRICE}}</td>
                    </tr>


                </table>
            </div>
            <div class="thumb-footer">

            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="thumb-container">
            <div class="thumb-header">
                <div class="alert alert-success">
                    Dr's Notes:
                </div>
            </div>
            <div class="thumb-body">
                <table class="table">
                    <thead>
                    <th>Date:</th>
                    <th>Doctor:</th>
                    <th>Type:</th>
                    <th>Comment</th>
                    </thead>

                    <tr ng-repeat="visit in userObj">
                        <td>{{visit.DATE}}</td>
                        <td>{{visit.DOCTOR}}</td>
                        <td>{{visit.TYPE}}</td>
                        <td>{{visit.PRICE}}</td>
                    </tr>


                </table>
            </div>
            <div class="thumb-footer">

            </div>
        </div>
    </div>
</div>

</div>
<div class="landing-wrapper" ng-if="false">

</div>
<div ng-if="false">
<div class="jumbotron">
    hello world
</div> -->
</div>


<!--
<div class="thumb-container">
    <div class="thumb-header">
        <div class="alert alert-success">
            General Information:
        </div>
    </div>
    <div class="thumb-body">


    </div>
    <div class="thumb-footer">

    </div>
</div>

-->