<div class="topnav-toggle">
    <button type="button" class="topnav-toggle" onclick="showNav()" data-toggle="collapse" data-target="#myNavbar">
      =
        <span class="icon-bar"></span> 
      </button>
</div>
<div class="topnav" id="myTopnav">
    <input type="button" value="Home" class="active">
    <input type="button" value="Bookings" ng-click="navCtr.openBookings()">
     <input type="button" value="Add Patient" ng-click="navCtr.addPatient()">
    
    <div class="topNavRight">
        <input ng-if="!navCtr.spinner" type="button" style="background-color: #212121" value="{{navCtr.userName}}">
        <button style="height: 100%;" ng-if="navCtr.spinner"><img src="img/spinner.gif" alt="spinner" ></button>
        <input type="button" value="Queue" class="" onclick="openNav()">
        <input type="button" value="Log out" ng-click="navCtr.logOff()">
       
    </div>
</div>