<style>
    .table th {
        border-top: 0px;
    }
    
    .dspQueue {
        padding: 4px;
        border-radius: 5px;
    }
    
    @media all and (max-width: 400px) {
        #btnQueue {
            width: 100%;
        }
    }
</style>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>

<div class="container">

    <div class="search-container">

        <div class="row">
         

            <div style="height: 100%" class="col-md-12">

                <div class="pull-right">

                    <input type="button" id="btnQueue" ng-if="false" data-toggle="modal" data-target="#queueModal" value="Queue" class="btn btn-default">
                </div>
                <br><br>

                <div class="search-header">
                    <h3>Search for a patient:</h3>
                    <hr class="colorgraph"><br>
                </div>
                <div class="search-body">
                    <div class="row" ng-if="false">
                        <div class="col-md-12">
                            <img src="img/Searching.gif" alt="searching gif"><br>
                            <h4>...please wait</h4>
                        </div>
                    </div>
                    <div>
                        <div class="row add-padding" ng-if="!searchCtr.search_complete">
                            <div class="alert alert-danger" ng-show="searchCtr.showmsg.length > 0">{{searchCtr.showmsg}}</div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="">
                                            <label class="search-body-lable">File Number:</label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" placeholder="file number" ng-disabled="searchCtr.searchObj.id_number.length > 0" class="form-control simplebox remove-radius"
                                            ng-model="searchCtr.searchObj.file_number">
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="">
                                            <label class="search-body-lable">ID Number:</label>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <input type="text" placeholder="id number" onkeypress="return isNumberKey(event)" ng-disabled="searchCtr.searchObj.file_number.length > 0"
                                            class="form-control simplebox remove-radius" ng-model="searchCtr.searchObj.id_number">
                                    </div>
                                </div>
                            </div>

                        </div>
                        <br>
                        <div class="row">
                            <div class="col-md-12">

                                <div class="alert alert-success" ng-show="searchCtr.showmsg2.length > 0">{{searchCtr.showmsg2}}

                                </div>

                                <br>

                                <input type="button" ng-if="!searching && !searchCtr.search_complete" value="Search" class="btn btn-md btn-c-primary pull-right"
                                    ng-click="search()" id="search-client">
                                <img src="img/Searching.gif" class="pull-right" ng-if="searching" alt="searching gif">
                                <input type="button" ng-if="searchCtr.search_complete" value="Clear Search" class="btn btn-md btn-danger pull-right" ng-click="searchCtr.clear_search()"
                                    id="clear_search">

                                <br><br>
                            </div>
                        </div>
                        <p>
                            <h5>Search history:</h5>
                        </p>
                        <div class="row">
                            <div class="col-md-12">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Name</th>
                                            <th>Actions</th>
                                        </tr>
                                    </thead>
                                    <tbody class="table-hover">
                                        <tr ng-repeat="result in results">
                                            <td>{{1 + $index}}</td>
                                            <td>{{result.FIRSTNAME}}</td>
                                            <td>

                                                <input type="button" value="open" class="btn btn-md btn-c-success" ng-click="setClient(result.ID)">
                                                <input type="button" value="queue" class="btn btn-md btn-c-success" ng-click="searchCtr.addToQue(result.ID)">
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="search-footer">
                            <div class="queue-body">

                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="col-md-3" ng-if="false" >
                <div class="dspQueue ">
                    
                    <h4>Patient waiting list ({{searchCtr.queue.length}}) - <input type="button" id="btnQueue" ng-if="searchCtr.showQueue"
                            ng-click="searchCtr.show_queue()" value="Hide Queue" class="btn btn-sm btn-default"></h4>

                    <table class="table " ng-show="false">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Name</th>
                                <th>Actions</th>
                            </tr>
                        </thead>

                        <tbody class="table-hover ">
                            <tr ng-repeat="qued in searchCtr.queue ">
                                <td>{{1 + $index}}</td>
                                <td>{{qued.FIRSTNAME}}</td>
                                <td> <input type="button" value="remove " class="btn btn-sm btn-c-warning " ng-click="">

                                </td>
                            </tr>
                        </tbody>
                    </table>
                    
                </div>

            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="queueModal" tabindex="-1" role="dialog" aria-labelledby="queueModal" aria-hidden="true">
    <div class="modal-dialog modal-lg role=" document ">
        <div class="modal-content remove-radius ">
            <div class="modal-header background-color-dark ">
                <h5 class="modal-title " id="exampleModalLabel ">Manage Patient Queue</h5>
                <button type="button " class="close " data-dismiss="modal " aria-label="Close ">
          <span aria-hidden="true ">&times;</span>
        </button>
            </div>
            <div class="modal-body add-padding-all-min">
             
            </div>
            <div class="modal-footer ">
                <button type="button " class="btn btn-secondary " data-dismises="modal ">Close</button>
                <button type="button " class="btn btn-primary ">Save changes</button>
            </div>
        </div>
    </div>
</div>