<div class="container">
    <br>
    <div class="row">
        <form class="form-horizontal">
            <fieldset>


                <div class="row add-margin-sm">
                    <div class="col-md-3">
                        <label class="control-label" for="requestName">Name:</label>
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-6">
                        <input id="requestName" name="requestName" placeholder="" ng-model="userDataObj.general.txt_name" class="form-control input-md col-md-4" required="" type="text"> </div>
                    </div>
                </div>

                 <div class="row add-margin-sm">
                    <div class="col-md-3">
                        <label class="control-label" for="requestName">Surname:</label>
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-6">
                        <input id="requestName" name="requestName" placeholder="" ng-model="userDataObj.general.txt_surname" class="form-control input-md col-md-4" required="" type="text"> </div>
                    </div>
                </div>

                <div class="row add-margin-sm">
                    <div class="col-md-3">
                        <label class="control-label" for="requestName">Date of birth:</label>
                    </div>
                    <div class="col-md-9">
                        <div class="col-md-6">
                        <input id="requestName" name="requestName" placeholder="" ng-model="userDataObj.general.txt_dateofbirth" class="form-control input-md col-md-4" required="" type="text"> </div>
                    </div>
                </div>

                             

            </fieldset>
        </form>

    </div>
</div>
<div class="row" ng-show="false">
    <div class="col-md-12">

        <div class="thumb-container">


            <div class="thumb-body">

                <div class="row add-border-bottom">
                    <div class="col-md-6">
                        <label>Name:</label>
                    </div>
                    <div class="col-md-6">
                        {{userDataObj.general.txt_name}}
                    </div>

                </div>

                <div class="row add-border-bottom">
                    <div class="col-md-6">
                        <label>Surname:</label>
                    </div>
                    <div class="col-md-6">
                        {{userDataObj.general.txt_surname}}
                    </div>
                </div>

                <div class="row add-border-bottom">
                    <div class="col-md-6">
                        <label>Date of birth:</label>
                    </div>
                    <div class="col-md-6">
                        {{userDataObj.general.txt_dateofbirth}}
                    </div>
                </div>

            </div>
            <div class="thumb-footer">

            </div>
        </div>

    </div>
</div>